<div class="content-wrapper container-fluid">
  <a routerLink="/student/dashboard">Back to Dashboard</a>
  <div class="container">
    <h1 *ngIf="courseData">{{ courseData.name }}</h1>
    <h5>
      Suggested Age Group: 
      <span *ngIf="courseData.ageGroup == 0">Preschool</span>
      <span *ngIf="courseData.ageGroup == 1">Primary School</span>
      <span *ngIf="courseData.ageGroup == 2">Secondary School</span>
    </h5>
    <div>
      <h5>
        Category: 
        <span *ngIf="courseData.courseType == 0">MATH</span>
        <span *ngIf="courseData.courseType == 1">READING</span>
        <span *ngIf="courseData.courseType == 2">SCIENCE</span>
      </h5>
    </div>
    <div class="container" *ngFor="let step of courseMaterial.steps; index as i;">
      <h5>{{ step.title }}:</h5>
      <p>{{ step.body }}</p>
      <div class="container" *ngIf="step.img">
          <img [src]="step.img">
      </div>
    </div>
    <div class="container">
      <h3>Course Review:</h3>
    </div>
    <div class="container" *ngFor="let exam of courseMaterial.exams; index as i;" style="margin-bottom:2.5em;">
      <a [href]="exam.file" download="{{ courseData.safeFilename }}" *ngIf="exam.file">Download Course Review</a>
    </div>
  </div>
</div>

<!-- Course Review Input -->
<div class="content-wrapper container-fluid">
  <h3>Write your answers to the course review questions in the fields below:</h3>
  <div class="container row" *ngFor="let answer of courseMaterial.answers; index as i;" style="margin-bottom:2.5em;">
    <!--
    <option value="0">Multiple Choice</option>
    <option value="1">True or False</option>
    <option value="3">Mathematical / Numerical</option>
    -->
    <!-- Multiple Choice -->
    <p>Question #{{ i + 1 }}:</p>
    <input
      [(ngModel)]="courseMaterial.studentAnswers[i]"
      type="text"
      name="student-answers-{{i}}"
      class="form-control" 
      placeholder="Answer {{i + 1}}"
      maxlength="1"
      *ngIf="answer.type == 0"
      required
    >

    <!-- True or False -->
    <select       
      [(ngModel)]="courseMaterial.studentAnswers[i]"
      name="student-answers-{{i}}"
      class="form-control" 
      *ngIf="answer.type == 1"
    >
      <option value="-1">Select an answer</option>
      <option value="answer.value">True</option>
      <option value="0">False</option>
    </select>

    <!-- Mathematical / Numerical -->
    <input
      [(ngModel)]="courseMaterial.studentAnswers[i]"
      type="number"
      placeholder="Answer {{i + 1}}"
      name="student-answers-{{i}}"
      class="form-control" 
      *ngIf="answer.type == 3"
      required
    >

  </div>
</div>