<div class="content-wrapper container-fluid">
  <a routerLink="/teacher/dashboard">Back to Dashboard</a>
  <div class="container">
    <div class="row" *ngFor="let course of courses; index as i;">
      <p>
          {{ i + 1 }})<a routerLink="/teacher/course/{{ course.address }}" style="cursor: pointer;" > {{ course.title }}
          <!--
          <span *ngIf="courseList[1][i] == 0"> - MATH</span>
          <span *ngIf="courseList[1][i] == 1"> - READING</span>
          <span *ngIf="courseList[1][i] == 2"> - SCIENCE</span>
          -->
          </a>
      </p>
    </div>
  </div>
</div>