<!-- Choose your own adventure! -->
<div class="container">
  <div class="row">
    <h1>CHOOSE YOUR ADVENTURE</h1>
  </div>
  <div class="row">
    <!-- Teacher Entry Point -->
    <div class="col-sm">
      <a routerLink="/teacher/dashboard">
        <div class="row">
          <img src="assets/img/teacher.png">
        </div>
        <p>I feel like teaching today!</p>
      </a>
    </div>
    <!-- Student Entry Point -->
    <div class="col-sm">
      <a routerLink="/student/dashboard">
        <div class="row">
            <img src="assets/img/student.png">
        </div>
        <p>I want to learn about stuff!</p>
      </a>
    </div>
  </div>
</div>