.add,
.remove,
input,
textarea {
    cursor: pointer;
}

.add,
.remove {
    font-size: 22px;
    text-align: center;
    padding: 0.75em;
}

.controls {
    margin: auto;
}

.row.exams.files {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 22px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    width: 90%;
}

div.inner-controls,
span {
    margin: auto;
    text-align: center;
}

input:not(.file), 
textarea {
    padding: 0.5em;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
    border: 3px solid #d3d3d3;
    border-radius: 4px;
}

input.file {
    margin: auto;
    width: 90%;
    border: 3px solid #d3d3d3;
    border-radius: 4px;
}

input.questions-total {
    max-width: 45px;
    margin-left: 0.5em;
}

.col-sm.label {
    padding: 0;
}

.content-wrapper {
    width: 100%;
}

p {
    display: inline;
    margin: auto;
}

button {
    margin: auto;
    width: 90%;
}